<body>
  <img class="logo" src="/images/pusheen.png">
  <span class="header"><strong>Pusheen's Gambling Den</span></strong>
  <div>
    <button class="login"><span>Login</span></button>
    <h6> Last login: tempDate </h6>
    <textarea id="login-input" name="text" placeholder="Enter username!"></textarea>
    <button class="logout"><span>Logout</span></button>
    <button class="register"><span>Register</span></button>
  </div>
</body>
