<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/_header.ejs %>
</head>

<body>
  <h1>Goofspiel</h1>
  <div>
    <h6>Instructions:</h6>
    <p class="info">In Goofspiel the goal is to get 46 or more points out of a total of 91 possible points. You earn points by winning <b>diamond</b> cards. Each of the two players is dealt an entire suit. Each turn, a random diamond card is flipped over, and the players simultaneously play a card. The player who produces the higher card wins the round, and earns points equal to the value of the diamond card. If a round results in a tie, a new diamond card is flipped, and the next round wins both of the diamond cards. The cards are ranked from 1 to 13</p>
    <button class="play"><span>Play now!</span></button>
  </div>
</body>
<footer>
  <% include ./partials/_footer.ejs %>
</footer>

</html>
