<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/_header.ejs %>
</head>

<body>
  <img src="1_of_hearts.svg" alt="Ace of Hearts">
  <img src="2_of_hearts.svg" alt="Two of Hearts">
  <img src="3_of_hearts.svg" alt="Three of Hearts">
  <img src="4_of_hearts.svg" alt="Four of Hearts">
  <img src="5_of_hearts.svg" alt="Five of Hearts">
  <img src="6_of_hearts.svg" alt="Six of Hearts">
  <img src="7_of_hearts.svg" alt="Seven of Hearts">
  <img src="8_of_hearts.svg" alt="Eight of Hearts">
  <img src="9_of_hearts.svg" alt="Ace of Hearts">
  <img src="10_of_hearts.svg" alt="Ace of Hearts">
  <img src="11_of_hearts.svg" alt="Ace of Hearts">
  <img src="12_of_hearts.svg" alt="Ace of Hearts">
</body>
<footer>
  <% include ./partials/_footer.ejs %>
</footer>

</html>
